h1 {
  font-size: 3rem;
  padding: 3rem 0;
  text-align: center;
  /* background-color: ; */
}

#movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 2rem;
}

#movie-list>div {
  width: calc(33% - 2rem);
  margin-bottom: 1.5rem;
  background-color: aliceblue;
  padding: 1.5rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-right: 1rem;
  border-radius: 2rem;
}

#movie-list>div>img {
  width: 100%;
}

@media (max-width: 768px) {
  #movie-list>div {
    width: calc(50% - 20px);
  }
}