:root {
  background-color: #ccc;
}

header>* {
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: 3rem;
  padding: 3rem 0;
}

nav {
  flex-wrap: wrap;
}

header nav button {
  padding: 0.5rem 0.5rem;
  margin: 0 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: inherit;
}

header nav button:hover {
  background-color: white;
}

.inputArea {
  align-items: center;
  width: 50%;
  margin: 2rem auto;
  height: 3rem;
  padding: 1rem 0;
  background-color: white;
  border-radius: 1rem;
}

.inputArea input {
  padding: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
}

.inputArea i {
  padding: 1rem;
  cursor: pointer;
}

.inputArea input:focus {
  font-weight: bold;
}

h2 {
  padding: 1rem 3rem;
  font-size: 2rem;
  font-weight: bold;
}

#movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 2rem;
}

#movie-list>div {
  width: calc(25% - 2rem);
  margin-bottom: 1.5rem;
  background-color: inherit;
  /* padding: 1.5rem; */
  box-sizing: border-box;
  margin-right: 1rem;
  border-radius: 2rem;
}

#movie-list>div .info {
  display: none;
  position: absolute;
}

#movie-list>div:hover {
  position: relative;
}

#movie-list>div:hover .info {
  top: 30%;
  color: white;
  display: block;
}

#movie-list>div:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 2rem;
}

#movie-list>div>img {
  width: 100%;
  height: 80%;
  border-radius: 2rem 2rem 0 0;
}

#movie-list h3 {
  padding: 1rem 0 0 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
}

.info>* {
  padding: 0.5rem 0;
}


.info p:nth-of-type(2) {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


@media (max-width: 768px) {
  #movie-list>div {
    width: calc(50% - 20px);
  }

  .inputArea {
    width: 80%;
  }
}